@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #fe2c55;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 100px;
}
body {
  font-family: 'Asap', sans-serif;
  font-weight: 600;
  font-size: 14px;
}
