@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #111827;
  --grey: #f8f9fa;
  --yellow: #f9a252;
  --orange: #eb8923;
  --white: #ffffff;
  --gray: #d1d5db;
  --red: #e30044;
  --error: #dc3545;
  --info: #17a2b8;
  --success: #28a745;
  --gray-100: #f9fafb;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  color: var(--primary);
}
a {
  font-weight: 500;
}
div,
span,
p {
  font-weight: 500;
}
html {
  font-size: 100px;
}
body {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 14px;
  overflow: hidden;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.category__title {
  font-size: 28px;
}
.category-product__image {
  height: 280px;
  width: auto;
}
.category-product__title {
  font-size: 13px;
}
.text-one-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
.modal-min-width {
  min-width: 700px;
}
.modal-bg {
  background-color: rgba(0, 0, 0, 0.5);
}
.form__group {
  padding: 5px 0px;
}
.form__error {
  min-height: 22px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-number {
  border-left: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
}
.custom-number-input input:focus {
  outline: none !important;
}

.custom-number-input button:focus {
  outline: none !important;
}
.form__input-number {
  border: 1px solid var(--gray);
}
.checkout-page__information {
  border-right: 2px solid var(--gray);
}
.checkout-page__list {
  border-left: 2px solid var(--gray);
}
.shipping-method {
  border-radius: 5px;
  border: 1px solid rgb(184, 184, 184);
  &__item {
    border-bottom: 1px solid rgb(221, 218, 218);
    padding-bottom: 5px;
  }
}
.checkout-total {
  border-top: 1px solid rgb(221, 218, 218);
}
.checkout-quantity {
  font-size: 12px;
  font-weight: 700;
  right: 25%;
  top: -10%;
  width: 25px;
  height: 20px;
  border-radius: 50%;
  background-color: #939494;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-title {
  font-size: 22px;
}
.flash-deal__time {
  left: 50%;
  transform: translateX(-50%);
  bottom: 13%;
}
