.form__login {
  width: 600px;
  padding: 20px 30px;
  border: 1px solid var(--primary);
  margin: auto;
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px;
}
.header-logo__image {
  height: 0.32rem;
}
