.cart__title {
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1.5px solid rgb(214, 212, 212);
}
.mini-cart__footer {
  border-top: 1.5px solid rgb(214, 212, 212);
}
.total-cart {
  font-size: 16px;
  font-weight: 700;
}
